@import "./base/buttons";
@import "./base/icons";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  min-height: 100dvh;
  margin: 0 auto;
  padding: 16px 24px;
}
